name: Git clean after run
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
          fetch-depth: 0

      - uses: nixbuild/nix-quick-install-action@v30
        with:
          nix_conf: |
            keep-env-derivations = true
            keep-outputs = true
      - name: Restore and save Nix store
        uses: nix-community/cache-nix-action@v6
        with:
          # restore and save a cache using this key
          primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          # if there's no cache hit, restore a cache by this prefix
          restore-prefixes-first-match: nix-${{ runner.os }}-
          # collect garbage until the Nix store size (in bytes) is at most this number
          # before trying to save a new cache
          # 1G = 1073741824
          gc-max-store-size-linux: 1G

      - run: nix develop -c npm i
      - run: nix develop -c npm run start
        env:
          SNAPSHOT_BLOCK_1: 41280134
          SNAPSHOT_BLOCK_2: 41900134
          SNAPSHOT_BLOCK_3: 41900134
          SNAPSHOT_BLOCK_4: 41900134
          SNAPSHOT_BLOCK_5: 41900134
          SNAPSHOT_BLOCK_6: 41900134
          SNAPSHOT_BLOCK_7: 41900134
          SNAPSHOT_BLOCK_8: 41900134
          SNAPSHOT_BLOCK_9: 41900134
          SNAPSHOT_BLOCK_10: 41900134
          SNAPSHOT_BLOCK_11: 41280134
          SNAPSHOT_BLOCK_12: 41900134
          SNAPSHOT_BLOCK_13: 41900134
          SNAPSHOT_BLOCK_14: 41900134
          SNAPSHOT_BLOCK_15: 41900134
          SNAPSHOT_BLOCK_16: 41900134
          SNAPSHOT_BLOCK_17: 41900134
          SNAPSHOT_BLOCK_18: 41900134
          SNAPSHOT_BLOCK_19: 41900134
          SNAPSHOT_BLOCK_20: 41900134
          SNAPSHOT_BLOCK_21: 41280134
          SNAPSHOT_BLOCK_22: 41900134
          SNAPSHOT_BLOCK_23: 41900134
          SNAPSHOT_BLOCK_24: 41900134
          SNAPSHOT_BLOCK_25: 41900134
          SNAPSHOT_BLOCK_26: 41900134
          SNAPSHOT_BLOCK_27: 41900134
          SNAPSHOT_BLOCK_28: 41900134
          SNAPSHOT_BLOCK_29: 41900134
          SNAPSHOT_BLOCK_30: 41900134
          
      - run: git add .
      - run: git diff --exit-code --cached